* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-pink: #ff3bba;
  --light-purple: #e8d4fc;
  --purple: #941cfc;
  --dark-purple: #160133;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--dark-purple);
  color: var(--dark-pink);
}
/*nav bar*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}
.nav-bar {
  display: flex;
  gap: 5vw;
  font-size: 18px;
}
a {
  color: var(--purple);
  text-decoration: none;
}
a:hover {
  color: var(--dark-pink);
}
/*nav bar*/

/*hero banner*/

h1 {
  color: var(--purple);
  font-size: 40px;
}
h2 {
  color: var(--purple);
  font-size: 30px;
}
p {
  color: var(--light-purple);
}
.hero-image {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 10vw;
  text-align: center;
  position: relative;
}
.hero-image h2 {
  color: var(--light-purple);
  position: absolute;
  margin: 3vw;
  bottom: 0;
  left: 0;
  font-size: 25px;
}
/*hero banner*/

/*All sections display*/
.avatar {
  filter: drop-shadow(10px 5px 20px var(--dark-pink));
  width: 15vw;
  height: auto;
  padding-bottom: 2vw;
}
#avatar-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 3vw 3vw;
}

#avatar-about, /*section titles on the left side*/
#work-title, #contact1 {
  width: 25%;
  text-align: center;
}
#about-paragraph {
  width: 75%;
  margin-left: 3vw;
  padding-left: 3vw;
  border-left: 5px solid var(--purple);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vw;
} /*section content on the right side*/

#contact2 {
  width: 75%;
  margin-left: 3vw;
  border-left: 5px solid var(--purple);
}
#workGrid {
  width: 75%;
  padding-left: 3vw;
  border-left: 5px solid var(--purple);
}
ul {
  /*contact me section*/
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
/*All sections display*/
/*Work grid*/
#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 200px 200px;
  grid-template-areas:
    "restaurant restaurant"
    "meowMatch introduction"
    "barbie comingSoon";
}
#restaurant {
  grid-area: restaurant;
  background-image: url("../images/restaurant-gd.png");
}

#meowMatch {
  grid-area: meowMatch;
  background-image: url("../images/meow-app.png");
}

#introduction {
  grid-area: introduction;
  background-image: url("../images/get-to-know-me.png");
}

#barbie {
  grid-area: barbie;
  background-image: url("../images/barbie.png");
}
#comingSoon {
  grid-area: comingSoon;
  background-image: url("../images/comingsoon.jpg");
}
.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
  transition: transform 0.3s ease; /*Zoom effect on hover*/
}
.heading {
  background-color: var(--purple);
  padding: 10px;
  height: 40px;
  color: var(--light-purple);
  font-size: 18px;
  position: relative;
}
#restaurant:hover,
#meowMatch:hover,
#introduction:hover,
#barbie:hover,
#comingSoon:hover {
  /*Zoom effect on hover*/
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 20px var(--purple));
}
/*Work grid*/
/*contact section*/
.github-logo,
.linkedin-logo {
  width: 4vw;
}
.github-logo:hover,
.linkedin-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: drop-shadow(12px 8px 8px var(--purple));
}
/*contact section*/
/*footer*/
.footer-content {
  margin-top: 5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid var(--purple);
}
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
.copyright {
  font-size: 16px;
}
/*footer*/

@media screen and (max-width: 1000px) {
}
@media only screen and (max-width: 768px) {
  /*nav bar*/
  .navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding: 5vw;
  }
  .nav-bar {
    display: flex;
    justify-content: space-evenly;
  }
  h1 {
    font-size: 35px;
  }
  /*nav bar*/
  /*hero banner*/
  .hero-image {
    height: 15vw;
  }
  /*hero banner*/
  /*All sections display*/
  .avatar {
    width: 40vw;
    padding-bottom: 2vw;
  }
  #avatar-about {
    display: flex;
    flex-direction: column;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 5vw 3vw;
  }
  #avatar-about,
  #work-title,
  #contact1 {
    /*section titles on the left side*/
    width: auto;
  }
  #about-paragraph {
    width: 90%;
    margin: 2vw;
    padding: 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vw;
    text-align: center;
  } /*section content on the right side*/

  #contact2 {
    width: 90%;
    margin: 2vw;
    border-left: none;
  }
  #workGrid {
    width: 90%;
    padding: 0;
    margin: 2vw;
    border-left: none;
  }
  /*contact me section*/
  ul {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 2vw;
  }
  /*All sections display*/
  /*contact section*/
  .github-logo,
.linkedin-logo {
  width: 10vw;
}
/*contact section*/
}

