* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --darkpink: #ff3bba;
  --purple: #941cfc;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: black;
  color: var(--darkpink);
}
/*nav bar*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
}
.nav-bar {
  display: flex;
  gap: 5vw;
  font-size: 18px;
}

a {
  color: var(--purple);
  text-decoration: none;
}
a:hover {
  color: var(--darkpink);

  text-decoration: dotted;
}
/*nav bar*/

/*hero banner*/

h1 {
  color: var(--purple);
  font-size: 40px;
}
h2 {
  color: var(--purple);
  font-size: 30px;
}
p {
  color: white;
}
.hero-image {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 10vw;
  text-align: center;
  position: relative;
}
.hero-image h2 {
  color: white;
  position: absolute;
  margin: 3vw;
  bottom: 0;
  left: 0;
  font-size: 25px;
}
/*hero banner*/

/*All sections display*/
.avatar {
  filter: drop-shadow(10px 5px 20px var(--darkpink));
  width: 15vw;
  height: auto;
  padding-bottom: 2vw;
}
#avatar-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 3vw 3vw;
}

#avatar-about, /*section titles on the left side*/
#work-title, #contact1 {
  width: 25%;
  text-align: center;
}
#about-paragraph {
  width: 75%;
  margin-left: 3vw;
  padding-left: 3vw;
  border-left: 5px solid var(--purple);
} /*section content on the right side*/

#contact2 {
  width: 75%;
  margin-left: 3vw;
  border-left: 5px solid var(--purple);
}
#workGrid {
  width: 75%;
  padding-left: 3vw;
  border-left: 5px solid var(--purple);
}
ul {
  /*contact me section*/
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  paddingt: 0;
}
/*All sections display*/
/*Work grid*/
#workGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 200px 200px;
  grid-template-areas:
    "restaurant restaurant"
    "meowMatch introduction"
    "barbie comingSoon";
}
#restaurant {
  grid-area: restaurant;
  background-image: url("../images/restaurant-gd.png");
}

#meowMatch {
  grid-area: meowMatch;
  background-image: url("../images/meow-app.png");
}

#introduction {
  grid-area: introduction;
  background-image: url("../images/get-to-know-me.png");
}

#barbie {
  grid-area: barbie;
  background-image: url("../images/barbie.png");
}
#comingSoon {
  grid-area: comingSoon;
  background-image: url("../images/comingsoon.jpg");
}
.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
  transition: transform 0.3s ease; /*Zoom effect on hover*/
}
.heading {
  background-color: var(--purple);
  padding: 10px;
  height: 40px;
  color: white;
  font-size: 18px;
  position: relative;
}
#restaurant:hover,
#meowMatch:hover,
#introduction:hover,
#barbie:hover,
#comingSoon:hover {
  /*Zoom effect on hover*/
  transform: scale(1.1);
  filter: drop-shadow(10px 10px 20px var(--purple));
}
/*Work grid*/
/*contact section*/
.github-logo:hover,
.linkedin-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: drop-shadow(12px 8px 8px var(--purple));
}
/*contact section*/
/*footer*/
.footer-content {
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  border-top: 3px solid var(--purple);
}
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
.copyright {
  font-size: 16px;
}
/*footer*/
